openapi: 3.0.0
info:
  title: Api Loja Virtual
  version: 0.1
tags:
  - clientes
paths:
  /clientes:
    post:
      tags:
        - clientes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cliente'
      responses:
        201:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cliente'
        422:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cliente'
    get:
      tags:
        - clientes
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfClientes'
      security:
        - JWTAuth: []
  /clientes/{id}:
    get:
      tags:
        - clientes
      parameters:
        - in: path
          type: string
          name: id
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Cliente'
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Mensagem'
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Mensagem'
    put:
      tags:
        - clientes
      parameters:
        - in: path
          type: string
          name: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cliente'
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cliente'
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Mensagem'
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Mensagem'        
        422:
          content:
            appication/json:
              schema:
                $ref: '#/components/schemas/Mensagem'
    delete:
      tags:
        - clientes
      parameters:
        - in: path
          type: string
          name: id
      responses:
        204:
          content:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Mensagem'
        404:
          content:
            application/json:
              schema:
                $ref: '#/components/schema/Mensagem'
components:
  securitySchemes:
    JWTAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    ArrayOfClientes:
      type: array
      items:
        $ref: '#/components/schemas/Cliente'
    Cliente:
      type: object
      properties:
        nome:
          type: string
        telefone:
          type: number
        email:
          type: string
        endereco:
          type: string
    Mensagem:
      type: object
      properties:
        msg:
          type: string
